/* acessa o elemento root e cria variáveis globais(variáveis globais funcionam em todo o código) */
:root {
    --primaria: #915f32;
    --secundaria: #ce9056;
    --terciaria: #e1e6eb;
    --branco: white;
    --preto: black;
}


/* acessa todos os elementos
remove todas as margens
remove todos os paddings
calcula automaticamente as larguras considerando: conteúdo, bordas, margens e paddings */
* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

/* seleciona o header
coloca a cor de fundo
e un espaçamento interno */

header,
footer {
    background-color: var(--primaria);
    padding: 1rem;
}

/* seleciona o nav
seleciona o header e o footer
coloca a cor de fundo
muda o display para grid
cria uma grade de 5 colunas de largura igual
alinha o texto no centro da coluna
espaço entre as colunas e linhas do grid*/

nav {
    background-color: var(--secundaria);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    padding: 0.25rem;
    gap: 0.5rem;
    align-items: center;

}

/* seleciona todos os links dentro de navs
remove a decoração dos links
muda a cor da letra
e a exibição do ponteiro do mouse para uma mão */

nav a {
    text-decoration: none;
    color: var(--preto);
    cursor: pointer;
}

/* qualquer item com essa classe
muda o display para flex
coloca o espaço vazio da horizontal no meio dos elementos
alinha os itens na vertical com base no seu centro */
.logo-busca {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
    

}

main {
    flex-grow: 1;
    background-color: var(--terciaria);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    left: 4rem;


}

#index {
    background-image: url("../imgs/WhatsApp\ Image\ 2024-06-27\ at\ 19.48.04.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--terciaria);
    text-align: center;
}

#copy {
    text-align: start;
}

.alinhar {
    display: flex;
    align-items: center;


}

.img-fim {
    display: flex;
    justify-content: end;

}

.img-fim img {
    margin: 0 1rem;
}

.quem-somos{
    
}

.quem-somos h1{
    background-color: #915f32;
    padding: 5px;
    margin-top: 30px;
    width: 500px;
    
}

.quem{
    justify-content: center;
    display: flex;
}

.quem-somos h2{
    margin-top: 180px;
    font-size: 35px;
}

.quem-somos h4{
    margin-top: 150px;
    text-align: center;
}

.user{
    display: flex;
    align-items: center;   
}

.desenvolvido{
    margin-top: 140px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.acesso{
    background-color: #ce9056;
    text-align: center;
    
    
}

.cria-conta{
    text-align: center;
}

.contatos_a {
    text-align: center;
    position: center;
    align-items: center;
    color: white;
    display: contents;
    display: grid;
    font-size: 70px;
    margin-top: 14rem;





}

.indexctt {
    background-color: #e1e6eb;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;

}

.img.contatos_a {
    position: center;
    align-items: center;
    display: flex;
    background-color: #915f32;
    justify-content: space-between;


}

#cortext {
    color: black;
    text-decoration: none;



}


.imgdes {
    align-items: center;

}


h1 {
    text-align: center;
    position: relative;
    top: 1REM;
}

.borda_login {
    border: solid black 0.1rem;
    border-radius: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: var(--primaria);
    border-radius: 5rem;
    width: 22rem;
    height: 30rem;
    text-align: center;
    font-size: 1rem;
    background-color: var(--secuntaria);
    font-family: Arial, Helvetica, sans-serif;

}

.borda-login p{
    background-color: #915f32;

}

.cadastrado {
    text-align: right 1rem;
    position: relative;
    top: 9rem;
    font-family: Arial, Helvetica, sans-serif;


}






#perfil,
#senha,
#name,
#email {
    text-align: left;
    position: relative;
    left: 1rem;

}

label {
    display: block;
    margin-bottom: 8px;
}


input[type="email"],
input[type="password"],
input[type="text"],
input[type="file"] {
    position: relative;
    left: 1rem;
    width: 18rem;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    font-size: 1.5rem;
    position: relative;
    align-content: center;
    top: 1.5rem;
    width: 10rem;
    background-color: var(--primaria);

}

.Esqueceu_senha {
    text-align: center;
    position: relative;
    top: 5rem;

}

.alinha_icon {
    text-align: center;
    align-items: center;
    display: flex;
}





.rede_social {
    position: relative;
    left: 1rem;
}

#copy {
    text-align: start;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;

}

.rede_social {
    position: relative;
    left: 1rem;

}


.icon_facebook,
.ICONE_insta,
.TELEFONE {
    background-color: var(--primaria);
    height: 10vh;
    width: 10vh;
    position: relative;
    left: 65vh;
    top: 6REM;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
}

.icon_facebook a,
.ICONE_insta a,
.TELEFONE a {
    text-decoration: none;
    color: var(--preto);
    cursor: pointer;
    color: black;
}

H2 {
    text-align: center;
    font-size: 3REM;
    text-decoration: solid;
    color: black;
}


.icon_facebook {
    text-decoration: none;
    color: var(--preto);
    cursor: pointer;

}

.h3 {
    margin-top: 10rem;
}

.borda_das_categorias {
    position: relative;
    width: 20rem;
    height: 27rem;
    border-radius: 1rem;
    top: 3rem;
    background-color: var(--secuntaria);
}



a {
    text-decoration: none;
    color: var(--preto);
}

.categoria1 {
    background-color: var(--quartenaria);
    text-align: center;
    border-radius: 0.5rem;
    background-color: var(--branco);
    width: 15rem;
    font-size: 2.2rem;
    position: relative;
    left: 3rem;
    top: 4rem;

}

@media screen and (max-width:900px) {

    nav {
        background-color: var(--secuntaria);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        padding: 0.25rem;
        gap: 0.5rem;
        font-family: "Special Elite", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
    }

    .borda_login {
        border: solid rgb(7, 7, 7) 0.1rem;
        border-radius: 2rem;
        position: relative;
        top: 17rem;
        background-color: var(--primaria);
        border-radius: 3rem;
        width: 18rem;
        height: 30rem;
        text-align: center;
        font-size: 1rem;
        background-color: var(--secuntaria);
        font-family: Arial, Helvetica, sans-serif;
    }

    input[type="file"],
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        position: relative;
        left: 0.4rem;
        width: 15rem;
        padding: 10px 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        font-size: 1rem;
        position: relative;
        align-content: center;
        top: 0.8rem;
        width: 10rem;
        background-color: var(--primaria);
    }
}

.rede_social {
    position: relative;
    left: 1rem;
}