/* acessa o elemento root e cria variáveis globais(variáveis globais funcionam em todo o código) */
:root { 
    --primaria: #915f32;
    --secundaria: #ce9056;
    --terciaria: #e1e6eb;
    --branco: white;
    --preto: black;
}


/* acessa todos os elementos
remove todas as margens
remove todos os paddings
calcula automaticamente as larguras considerando: conteúdo, bordas, margens e paddings */
* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
/* seleciona o header
coloca a cor de fundo
e un espaçamento interno */

header, footer {
    background-color: var(--primaria);
    padding: 1rem;
}
/* seleciona o nav
seleciona o header e o footer
coloca a cor de fundo
muda o display para grid
cria uma grade de 5 colunas de largura igual
alinha o texto no centro da coluna
espaço entre as colunas e linhas do grid*/

nav {
    background-color: var(--secundaria);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    padding: 0.25rem;
    gap: 0.5rem;
    align-items: center;
    
    }

    /* seleciona todos os links dentro de navs
remove a decoração dos links
muda a cor da letra
e a exibição do ponteiro do mouse para uma mão */

nav a {
    text-decoration: none;
    color: var(--preto);
    cursor: pointer;
}
/* qualquer item com essa classe
muda o display para flex
coloca o espaço vazio da horizontal no meio dos elementos
alinha os itens na vertical com base no seu centro */
.logo-busca {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main {
    flex-grow: 1;
    background-color: var(--terciaria);
 
    
}
#index {
    background-image: url("../imgs/WhatsApp\ Image\ 2024-06-27\ at\ 19.48.04.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--terciaria);
    text-align: center;
}

#copy {
    text-align: start;
}

.alinhar {
    display: flex;
    align-items: center;
    

}

.img-fim {
    display: flex;
    justify-content: end;

}

.img-fim img {
    margin: 0 1rem;
}

.titulo h1 {
    
    display: block;
    text-align: center;
    background-color: #915f32;
    padding: 0.5rem;
    width: 550px;
    margin-bottom: 0;
    margin: 150px;
    margin-top: 1.5rem; 
    justify-content: center;
    margin-left: 40rem;
 
    
}

.texto {
    text-align: center;
    margin-top: 2.5rem;
    margin: auto;
    position: center;
    
}

.desenvolvido {
    text-align: center;
    font-size: medium;
    position: center;
    margin-top: 13rem;
    color: black;
    
}

.contatos_a {
    text-align: center;
    position: center;
    align-items: center;
    color: white;
    display: contents;
    display: grid;
    font-size: 70px;
    margin-top: 14rem;
    
    
   
}

.indexctt {
    background-color:#e1e6eb;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

 .img.contatos_a {
    position: center;
    align-items: center;
    display: flex;
    background-color:#915f32;
    
    
 }

#cortext {
    color: black;
    text-decoration: none;
    
    
}
.log {
    background-color: #915f32;
    display:flex;
    align-items: center;
    
    
    padding: 0.5rem;
    width: 550px;
    margin-bottom: 0;
    margin: 150px;
    margin-top: 1.5rem; 
    box-sizing: border-box;
    

}