<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estante Web</title>

    <link rel="stylesheet" href="..//css/style.css">

</head>
<body>

    <header>
        <div class="logo-busca">
            
            <h1>Estante Web</h1>

            <form action="">
                <input type="search" name="busca" id="busca">
            </form>
        </div>
       
    </header>

    <nav>
        <a href="">Inicio</a>
        <a href="quem_somos.html">Quem Somos</a>
        <a href="contatos.html">Contatos</a>
        <a href="/views/favoritos.html" class="alinhar">
            <img src="../imgs/star.png.png" alt="" width="30px" height="30px">
        Favoritos
    </a>
        <a href="login.html">Login</a> 

    </nav>
    
    
   

    <main id="indexctt">


        <div class="ICONE_insta">
            <a href="https://www.instagram.com/accounts/login/" target="_blank">
                <img src="/imgs/instagram.svg" alt="" width="70PX" height="70PX">  
            </div>
                </a>
        
                <a href="https://www.instagram.com/accounts/login/"target="_blank">
                <h2>@estante_web</h2>
                </a>
        <div class="icon_facebook">
                <a href="https://www.facebook.com/?locale=pt_BR"target="_blank">
                     <img src="/imgs/facebook.svg" alt="" width="70px" height="70PX">
                </div>
            </A>
                <a href="https://www.facebook.com/?locale=pt_BR" target="_blank">
                <h2>@estante_web</h2>
                 </a>
        
                </div>
        
        <DIV class="TELEFONE">
                    <a href=""><img src="/imgs/telefone.svg" alt="" width="70px" height="70px">
                    </a>
                        </div>
        
               <a> <h2>(98)3200-0032</h2>
                </a>
</nav>

    </main>

    <footer>
        <div id="copy">
            &copy; Estante Web
        </div>

        <div>
            Todos os direitos reservados
        </div>

        <div class="img-fim">
            <img src="../imgs/facebook.svg" alt="" width="30px" height="30px">
            <img src="../imgs/instagram.svg" alt="" width="30px" height="30px">
        </div>

    </footer>
    
</body>
</html>